<!-- Botones -->
<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal"
                    data-bs-target="#agregarClienteModal">
                    <i class="fa fa-plus"></i> Agregar Cliente
                </button>
            </div>
        </div>
    </div>
</section>

<!-- Listado Clientes -->
<section id="clientes">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>Listado de Clientes</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Saldo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of clients; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{client.nombre}} {{client.apellido}}</td>
                                <td>{{client.saldo | currency:"COP":"$":"1.0-2"}}</td>
                                <td>
                                    <a routerLink="/client/update/{{client.id}}" class="btn btn-secondary">
                                        <i class="fa fa-pen"></i> Editar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Tarjetas Laterales -->
            <div class="col-md-3">
                <div class="card text-center bg-danger text-white mb-3">
                    <div class="card-body">
                        <h3>Saldo Total</h3>
                        <h4 class="display-5">
                            {{getSaldoTotal() | currency:"COP":"$":"1.0-2"}}
                        </h4>
                    </div>
                </div>
                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3>Total Clientes</h3>
                        <h4 class="display-5">
                            <i class="fa fa-users"></i> {{clients.length}}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Agregar Cliente -->
<div class="modal fade" id="agregarClienteModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-tittle">Agregar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" #closeButton></button>
            </div>

            <flash-messages></flash-messages>

            <form #clienteForm="ngForm" (ngSubmit)="agregar(clienteForm)">
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" class="form-control" #nombre="ngModel"
                            [(ngModel)]="client.nombre" [ngClass]="{'is-invalid': nombre.errors && nombre.touched}"
                            required minlength="2">
                        <div [hidden]="!nombre.errors?.['required']" class="invalid-feedback">
                            Nombre requerido
                        </div>
                        <div [hidden]="!nombre.errors?.['minlength']" class="invalid-feedback">
                            Debe contener al menos 2 caracteres
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="apellido">Apellido</label>
                        <input type="text" name="apellido" class="form-control" #apellido="ngModel"
                            [(ngModel)]="client.apellido"
                            [ngClass]="{'is-invalid': apellido.errors && apellido.touched}" required minlength="2">
                        <div [hidden]="!apellido.errors?.['required']" class="invalid-feedback">
                            Apellido requerido
                        </div>
                        <div [hidden]="!apellido.errors?.['minlength']" class="invalid-feedback">
                            Debe contener al menos 2 caracteres
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" #email="ngModel"
                            [(ngModel)]="client.email" [ngClass]="{'is-invalid': email.errors && email.touched}"
                            required
                            pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$">
                        <div [hidden]="!email.errors?.['required']" class="invalid-feedback">
                            Email requerido
                        </div>
                        <div [hidden]="!email.errors?.['pattern']" class="invalid-feedback">
                            Email no valido
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="saldo">Saldo</label>
                        <input type="number" name="saldo" class="form-control" #saldo="ngModel"
                            [(ngModel)]="client.saldo" [ngClass]="{'is-invalid': saldo.errors && saldo.touched}"
                            required>
                        <div [hidden]="!saldo.errors?.['required']" class="invalid-feedback">
                            Saldo requerido
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>