<!-- Botones -->
<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="" class="btn btn-primary btn-block" data-toggle="modal" data-target="#agregarClienteModal">
                    <i class="fa fa-plus"></i> Agregar Cliente
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Listado Clientes -->
<section id="clientes">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>Listado de Clientes</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Saldo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of clients; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{client.nombre}} {{client.apellido}}</td>
                                <td>{{client.saldo | currency:"COP":"$":"1.0-2"}}</td>
                                <td>
                                    <a routerLink="/client/update/{{client.id}}" class="btn btn-secondary">
                                        <i class="fa fa-pen"></i> Editar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Tarjetas Laterales -->
            <div class="col-md-3">
                <div class="card text-center bg-danger text-white mb-3">
                    <div class="card-body">
                        <h3>Saldo Total</h3>
                        <h4 class="display-4">
                            {{getSaldoTotal() | currency:"COP":"$":"1.0-2"}}
                        </h4>
                    </div>
                </div>
                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3>Total Clientes</h3>
                        <h4 class="display-4">
                            <i class="fa fa-users"></i> {{clients.length}}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>